body{
    position: relative;
    margin: 0;
}


.container{
    position: relative;
}

.maincontent{
    
    position: relative;
    background-color: #ffffff;
    /*top: 250px;*/
    /*float: left;*/
    border: transparent;
    width: 960px;
    height: auto;
    /*left: 100px;*/
    /*bottom: -120px;*/
    margin: auto;
    padding: 10px 25px 10px 25px;
    z-index: 5;
    top: 125px;
    
}

h1 {

    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: #4aaaa5;
    width: 250px;
    text-align: center;
    left: 215px;
    z-index: 3;
    top: -27px;
    padding: 10px;
    float: left;


}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5

}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 2;
}

.vinimage{
    position: relative;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    

}



.space{

    position: static;
    float: left;
    height: 105px;
    width: 100%;
    background-color: white;
    top: -540px;
    text-align: right;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    z-index: 1;
    

}
.footer{
    
    float: left;
    position: absolute;
    margin:0;
    background-color: #666666;
    color: #777777;
    width: 100%;
    text-align: center;
    bottom: -100px;
    padding: 15px;
    font-size: small;
    z-index: 2;
}

.stylebar{
    width: 100%;
    height: 10px;
    background-color: #4aaaa5;
    float: left;
    position: relative;
    top: 50px;
    margin: 0;

}

.buttons{
    position: absolute;
    background-color:white;
    z-index: 4;
    top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    width: 200px;
    right: 220px;
}

.bar{
    position: relative;
    height: 3px;
    width: 950px;
    background-color:#777777;
    float: right;
    z-index: 6;
    top: -50px;



}


    


